.CTLM {
    -fx-background-color: #008080;
    -fx-padding: 10px;
    -fx-font-family: Raleway;
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    }
    
.title {
    -fx-background-color: #80C0C0;
    -fx-padding: 10px;
    -fx-font-family: "Raleway ExtraBold", Arial;
    -fx-font-size: 20pt;
    -fx-text-fill: white;
    }

.label{
    -fx-text-fill: white;
}

.button{
    -fx-border-color: white;
    -fx-background-color: teal;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: teal;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.home {
    -fx-padding-top: 10px;
}

.home .button {
    -fx-pref-tile-width: 300px;
}