.CTLM {
    -fx-background-color: #008080;
    -fx-padding: 10px;
    -fx-font-family: Raleway, "Segoe UI";
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    }
    
.title {
    -fx-background-color: #80C0C0;
    -fx-padding: 10px;
    -fx-font-family: "Raleway ExtraBold", "Segoe UI Semibold";
    -fx-font-size: 20pt;
    -fx-text-fill: white;
    }
    
.label{
    -fx-text-fill: white;
}

.button{
    -fx-border-color: white;
    -fx-background-color: teal;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: teal;
}

.home {
    -fx-padding-top: 10px;
}

.filledLabel .label {
    -fx-padding: 5px 10px 5px 0;
}