.CTLM {
    -fx-background-color: #e0cda9;
    -fx-padding: 10px;
    -fx-font-family: Raleway, "Segoe UI";
    -fx-font-size: 10pt;
    -fx-text-fill: #582900;
    -fx-spacing: 20px;
    }
    
.title {
    -fx-background-color: #ed7f10;
    -fx-padding: 10px;
    -fx-font-family: "Raleway ExtraBold", "Segoe UI Semibold";
    -fx-font-size: 20pt;
    }

.title .text {
    -fx-fill: white;
}

.subtitle {
    -fx-background-color: #f6bf88;
    -fx-padding: 5px;
    -fx-font-family: "Raleway ExtraBold", "Segoe UI Semibold";
    -fx-font-size: 15pt;
    -fx-text-fill: white;
    }
    
.label{
    -fx-text-fill: #582900;
}

.button{
    -fx-border-color: white;
    -fx-background-color: #582900;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: #582900;
}

.radiobutton {
    -fx-text-fill: #582900;
}

.addTaskHBox{
    -fx-spacing: 10px;
}

.home {
    -fx-alignment: center;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.home .button {
    -fx-font-size: 20px;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-max-width: 1000px;
    -fx-max-height: 1000px;
    -fx-background-color: #f6bf88;
    -fx-text-fill: #582900;
    -fx-border-color: #582900;
    -fx-font-family: "Raleway SemiBold", "Segoe UI Semibold";
}

.home .button:hover {
    -fx-background-color: #582900;
    -fx-text-fill: white;
    -fx-border-color: white;
}

.identificationHBox {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.identificationVBox {
    -fx-spacing: 10px;
}

.table {
    -fx-alignment: center;
}

.table .label {
    -fx-padding: 5px 10px 5px 0;
}

.logOut {
    -fx-alignment: top-right;
}