.CTLM {
    -fx-background-color: #808080;
    -fx-padding: 10px;
    -fx-font-family: Raleway, "Segoe UI";
    -fx-font-size: 10pt;
    -fx-text-fill: white;
    }
    
.title {
    -fx-background-color: #80C0C0;
    -fx-padding: 10px;
    -fx-font-family: "Raleway ExtraBold", "Segoe UI Semibold";
    -fx-font-size: 20pt;
    -fx-text-fill: white;
    }
    
.label{
    -fx-text-fill: white;
}

.button{
    -fx-border-color: white;
    -fx-background-color: teal;
    -fx-background-radius: 0;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: teal;
}

.home {
    -fx-padding-top: 10px;
    -fx-alignment: center;
}

.home .button {
    -fx-font-size: 20px;
    -fx-background-color: #404040;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.home .button:hover {
    -fx-background-color: white;
    -fx-text-fill: #404040;
}

.table {
    -fx-alignment: center;
}

.table .label {
    -fx-padding: 5px 10px 5px 0;
}